<div class="description">
    {% if article.picture %}
        <img src="{{ asset(['uploads/', article.picture] | join | apply_filter('thumbnail_article')) }}"  alt="" class="image"/>
    {% endif %}
    {{ article.body | raw  }}
</div>